<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      async function updateData(){ 
         const result = await axios.get('/latest');yy
         document.getElementById('curtemp').innerHTML = result.data.temp;
         document.getElementById('curhumid').innerHTML = result.data.humidity;
         setTimeout(updateData, 1000);
      }
      document.addEventListener('DOMContentLoaded', async (event) => {
	 await axios.get('/start');
         setTimeout(updateData, 1000);
      });
    </script>
  </head>
  <body>
    <h1> Salon </h1>
    <div>Temperature: <span id="curtemp"></span>&#xb0;</div>
    <div>Humidity: <span id="curhumid"></span>%</div>
  </body>
</html>
